
@page "/createhouse"

@using HouseSale.Application.UseCases.Categories.Queries;
@using HouseSale.Application.UseCases.CategoryRentSales.Queries;
@using HouseSale.Blazor.PagesBase;
@using HouseSale.Domain.Entities;
@using MediatR;
@inject NavigationManager NavigationManager
@inherits CreateHouseBase
@inject IMediator _meditor;
@code {

    private FluentValidationValidator? _fluentValidationValidator;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public static List<Category> categories = new();
    public static List<CategoryRentSale> categoryRentSale = new();

    protected async override Task OnInitializedAsync()
    {


        mediator = _meditor;
        var authenticationState = await authenticationStateTask;
        categories = await _meditor.Send(new GetAllCategoryQuery());


        categoryRentSale = await _meditor.Send(new GetAllCategoryRentSaleQuery());

        if (!authenticationState.User.Identity.IsAuthenticated)
        {

            NavigationManager.NavigateTo($"/identity/account/login?returnUrl=%2Fcreatehouse", forceLoad: true);

        }

        houseImagemodel = new HouseImageModel();

        editContext = new EditContext(houseImagemodel);



    }
}
<AuthorizeView>
    <Authorized Context="Auth">
        @Auth.User.Identity.Name
        <div class="container">

            <EditForm Model="@CreateHouseCommand" OnValidSubmit="OnSubmitHouse">

                <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
                <ValidationSummary />



                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Price:
                                        <InputNumber @bind-Value="@CreateHouseCommand.Price" class="form-control" />
                                        <ValidationMessage For="@(() => CreateHouseCommand.Price)" />
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Area:
                                        <InputNumber @bind-Value="@CreateHouseCommand.Area" class="form-control" />
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Count of room:
                                        <InputNumber @bind-Value="@CreateHouseCommand.CountOfRoom" class="form-control" />
                                    </label>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Address street:
                                        <InputText @bind-Value="@CreateHouseCommand.CreateAddressCommand.Street" class="form-control" />

                                    </label>
                                </div>
                            </div>
                            <div class="col">

                                <div class="form-group">
                                    <label>
                                        City:
                                        <InputText @bind-Value="@CreateHouseCommand.CreateAddressCommand.City" class="form-control" />

                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        State:
                                        <InputText @bind-Value="@CreateHouseCommand.CreateAddressCommand.State" class="form-control" />

                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Country:
                                        <InputText @bind-Value="@CreateHouseCommand.CreateAddressCommand.Country" class="form-control" />

                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        House category:
                                        <InputSelect @bind-Value="CreateHouseCommand.CategoryId" class="form-control">

                                            @if (CreateHouseCommand.CategoryId == null)
                                            {
                                                <option selected value="">None</option>
                                            }
                                            @foreach (var item in categories)
                                            {

                                                <option value="@item.CategoryId">@item.CategoryName</option>
                                            }

                                        </InputSelect>
                                    </label>
                                </div>
                            </div>
                            <InputRadioGroup @bind-Value="@CreateHouseCommand.CategoryRentSaleId">

                                @foreach (var item in categoryRentSale)
                                {
                                    <div class="col mt-4">
                                        <div class="form-group">
                                            <InputRadio id="@item.CategoryRentSaleName" class="form-check-input" Value="@item.CategoryRentSaleId" />
                                            <label for="@item.CategoryRentSaleName" class="radio-inline">
                                                @item.CategoryRentSaleName
                                            </label>
                                        </div>
                                    </div>
                                }

                            </InputRadioGroup>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <label class="custom-file-label">
                                            Main image:
                                        </label>
                                        <InputFile multiple OnChange="UploadFileChange" class="custom-file-input" placeholder="" />
                                        @* <ValidationMessage For="() => houseImagemodel.Picture" />*@
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="w-100">
                                        Description:
                                        <InputTextArea @bind-Value="@CreateHouseCommand.Description" class="form-control" />
                                    </label>
                                </div>
                                <div class="form-group"><button type="submit" class="btn btn-primary">Submit</button> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <h6>Located nearby</h6>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="control-label" for="hospital">
                                        Hospital
                                    </label>
                                    <InputCheckbox id="hospital"  @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Hospital" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="playground">
                                        Playground
                                    </label>
                                    <InputCheckbox id="playground" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Playground" />
                                </div>
                                 <div class="form-check">
                                    <label class="control-label" for="kindergarden">
                                        Kinder garden
                                    </label>
                                    <InputCheckbox id="kindergarden" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Kindergarten" />
                                </div>
                                 <div class="form-check">
                                    <label class="control-label" for="station">
                                        Bus station
                                    </label>
                                    <InputCheckbox id="station"  @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Stations" />
                                </div>
                                 <div class="form-check">
                                    <label class="control-label" for="park">
                                        Park
                                    </label>
                                    <InputCheckbox id="park"  @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Park" />
                                </div>
                                
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="control-label" for="Institution">
                                        Institutions
                                    </label>
                                    <InputCheckbox id="Institution" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.EntertainmentInstitutions" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Restaurants">
                                        Restaurants
                                    </label>
                                    <InputCheckbox id="Restaurants" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Restaurants" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Residence">
                                        Residence
                                    </label>
                                    <InputCheckbox id="Residence" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Residence" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Supermarkets">
                                        Supermarkets
                                    </label>
                                    <InputCheckbox id="Supermarkets" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.Supermarkets" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="School">
                                        School
                                    </label>
                                    <InputCheckbox id="School" @bind-Value="@CreateHouseCommand.CreateLocatedNearbyCommand.School" />
                                </div>

                            </div>
                        </div>
                        <h6>There is in house</h6>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="control-label" for="ethernet">
                                        Ethernet
                                    </label>
                                    <InputCheckbox id="ethernet" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Ethernet" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Phone">
                                        Phone line
                                    </label>
                                    <InputCheckbox id="Phone" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Phone" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Pool">
                                        Pool
                                    </label>
                                    <InputCheckbox id="Pool" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Pool" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Garage">
                                        Garage
                                    </label>
                                    <InputCheckbox id="Garage" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Garage" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Canalization">
                                        Canalization
                                    </label>
                                    <InputCheckbox id="Canalization" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Canalization" />
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="control-label" for="GreenZone">
                                        Green zone
                                    </label>
                                    <InputCheckbox id="GreenZone" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.GreenZone" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Security">
                                        Security
                                    </label>
                                    <InputCheckbox id="Security" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Security" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Cellar">
                                        Cellar
                                    </label>
                                    <InputCheckbox id="Cellar" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Cellar" />
                                </div>
                                <div class="form-check">
                                    <label class="control-label" for="Gym">
                                        Gym
                                    </label>
                                    <InputCheckbox id="Gym" @bind-Value="@CreateHouseCommand.CreateThereIsInHouseCommand.Gym" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                      

            </EditForm>
        </div>
    </Authorized>
</AuthorizeView>